@mixin mobileHeader {
  @media screen and (max-width: 768px) {
    header {
      padding: 26px 27px 36px 27px;
      .logo {
        display: flex;
        padding: 0;
        img {
          width: 128px;
          height: 82px;
        }
        h1 {
          align-self: flex-end;
          font-size: 2rem;
        }
      }
      .menu {
        ul {
          display: none;
        }
      }
    }
  }
}

@mixin mobileHero {
  @media screen and (max-width: 768px) {
    .hero {
      height: 274px;
    }
    .heroLinks {
      flex-direction: column-reverse;
      align-items: center;

      transform: translateY(20%);

      a:nth-child(1) {
        background: #ffffff;
        color: #36769d;
        font-size: 1.3rem;
        text-decoration: underline;
      }
      a:nth-child(2) {
        background: #8acfe5;
        color: #000000;
      }
    }
  }
}

@mixin mobileQuotes {
  @media screen and (max-width: 768px) {
    .quotes {
      margin: 70px 30px 0 30px;
      :nth-child(3) {
        display: none;
      }
      :nth-child(4) {
        display: none;
      }
    }
  }
}
