@use "mixins";

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 26px 27px 22px 27px;

  background: #011827;
  color: #ffffff;

  .logo {
    display: flex;
    padding: 0 0 50px 0;
    img {
      width: 128px;
      height: 82px;
    }
    h1 {
      align-self: flex-end;
      margin: 0;
      padding: 0 0 0 27px;
      font-size: 3.3rem;
    }
  }
  .menu {
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      margin: 0;

      list-style-type: none;
      font-size: 2rem;
      font-weight: bold;

      li {
        a {
          color: #ffffff;
        }
        .menuContact {
          color: #8acfe5;
        }
      }
    }
  }
}
@include mixins.mobileHeader;

.hero {
  width: 100%;
  height: 468px;
  object-fit: cover;
}
.heroLinks {
  display: flex;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  transform: translateY(-55%);

  a {
    box-sizing: border-box;
    width: 308px;
    height: 66px;

    margin: 0 9px;
    padding: 19px 0px 19px;
    border-radius: 4px;
  }
  a:nth-child(1) {
    background: #e3170a;
    color: #ffffff;
  }
  a:nth-child(2) {
    background: #8acfe5;
    color: #000000;
  }
}
@include mixins.mobileHero;
