@use "../mixins";

.challengesSection {
  margin: 30px;

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    padding: 10px 0;

    list-style-type: none;
  }
}

@media screen and (max-width: 768px) {
}
