html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 26px 27px 22px 27px;
  background: #011827;
  color: #ffffff;
}
header .logo-container {
  display: flex;
  padding: 0 0 50px 0;
}
header .logo-container img {
  width: 128px;
  height: 82px;
}
header .logo-container h1 {
  align-self: flex-end;
  margin: 0;
  padding: 0 0 0 24px;
  font-size: 3.3rem;
}
header .open-container {
  display: none;
}
header .modal {
  display: block;
}
header .modal .menu-container {
  display: block;
}
header .modal .menu-container .close-container {
  display: none;
}
header .modal .menu-container .menu-list-container ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 90px;
  list-style-type: none;
  font-size: 2rem;
  font-weight: bold;
}
header .modal .menu-container .menu-list-container ul li a {
  color: #ffffff;
}
header .modal .menu-container .menu-list-container ul li :hover {
  color: #8acfe5;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 26px 27px 36px 27px;
  }
  header .logo-container {
    display: flex;
    padding: 0;
  }
  header .logo-container img {
    width: 128px;
    height: 82px;
  }
  header .logo-container h1 {
    width: 80px;
    padding: 0 0 0 13px;
    line-height: 2.4rem;
    font-size: 2.2rem;
  }
  header .open-container {
    display: block;
    position: absolute;
    right: 20px;
    top: 26px;
  }
  header .open-container i {
    font-size: 4rem;
  }
  header .modal {
    display: none;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
  header .modal .menu-container {
    display: block;
    margin: 3vh auto;
    position: relative;
    width: 90%;
    height: 93vh;
    background: #011827;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    animation-name: mobileMenuAni;
    animation-duration: 0.2s;
  }
  header .modal .menu-container .close-container {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  header .modal .menu-container .close-container i {
    font-size: 4rem;
    color: #ffffff;
    opacity: 0;
    animation-name: mobileMenuAni;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  header .modal .menu-container .menu-list-container ul {
    display: none;
  }
  header .modal .menu-container .mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 25vh 0;
    list-style-type: none;
    font-size: 3rem;
    font-weight: bold;
  }
  header .modal .menu-container .mobile-menu ul li {
    margin: 0 0 50px 0;
  }
  header .modal .menu-container .mobile-menu ul li a {
    color: #ffffff;
  }
}
@keyframes mobileMenuAni {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  header .modal {
    display: block;
  }
}
.hero {
  width: 100%;
  height: 468px;
  object-fit: cover;
}

.hero-links-container {
  display: flex;
  justify-content: center;
  transform: translateY(-55%);
}
.hero-links-container a {
  margin: 0 9px;
}
.hero-links-container a:nth-child(1) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
}
.hero-links-container a:nth-child(1):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.hero-links-container a:nth-child(2) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #8acfe5;
  color: #000000;
}
.hero-links-container a:nth-child(2):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 274px;
  }

  .hero-links-container {
    flex-direction: column-reverse;
    align-items: center;
    transform: translateY(20%);
  }
  .hero-links-container a:nth-child(1) {
    font-size: 1.3rem;
    text-decoration: underline;
    background: #ffffff;
    color: #36769d;
  }
  .hero-links-container a:nth-child(2) {
    background: #8acfe5;
    color: #000000;
  }
}
.quotes-section {
  display: flex;
  justify-content: center;
  margin: 70px 20px 0 0;
}
.quotes-section img {
  width: 97px;
  height: 97px;
  object-fit: cover;
  margin: 0 0 0 20px;
  border-radius: 100%;
}
.quotes-section .qoutes-text-container {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  margin: 0 0 0 15px;
}
.quotes-section blockquote {
  max-width: 407px;
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}
.quotes-section blockquote p {
  margin: 0 0 10px;
}
.quotes-section cite {
  max-width: 285px;
  font-size: 1.5rem;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .quotes-section {
    margin: 70px 20px 0 20px;
  }
  .quotes-section img {
    margin: 0;
  }
  .quotes-section :nth-child(3), .quotes-section :nth-child(4) {
    display: none;
  }
  .quotes-section blockquote, .quotes-section cite {
    max-width: 342px;
  }
}
.popular-challenges {
  margin: 0;
}
.popular-challenges .heading {
  margin: 100px 0 60px 0;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}
.popular-challenges ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
  padding: 20px 53px;
  list-style-type: none;
}
.popular-challenges .popular-links {
  display: flex;
  justify-content: center;
}
.popular-challenges .popular-links a:nth-child(1) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
  margin: 70px 9px;
}
.popular-challenges .popular-links a:nth-child(1):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.popular-challenges .popular-links a:nth-child(2) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #8acfe5;
  color: #000000;
  margin: 70px 9px;
}
.popular-challenges .popular-links a:nth-child(2):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .popular-challenges .heading {
    margin: 100px 0 45px 0;
    font-size: 2.7rem;
  }
  .popular-challenges ul {
    padding: 4vw;
  }
  .popular-challenges ul .card div {
    justify-content: flex-start;
  }
  .popular-challenges ul .card div .players {
    margin: 0 0 0 10px;
  }
  .popular-challenges .popular-links {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0 20px;
  }
  .popular-challenges .popular-links a:nth-child(1) {
    margin: 10px 0;
    font-size: 1.3rem;
    text-decoration: underline;
    background: #ffffff;
    color: #36769d;
  }
  .popular-challenges .popular-links a:nth-child(2) {
    margin: 0px;
    background: #8acfe5;
    color: #000000;
  }
}
@media screen and (max-width: 1170px) {
  .popular-challenges ul {
    justify-content: space-between;
  }
}
.card {
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  width: 363px;
  height: 446px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
}
.card .img-container {
  height: 50%;
}
.card .img-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.card .text-container {
  margin: 10px;
}
.card .text-container .title {
  margin: 0;
  padding: 0;
  font-size: 2.3rem;
  font-weight: normal;
}
.card .text-container div {
  display: flex;
  justify-content: space-between;
  margin: 4px 0 0;
}
.card .text-container div .rating-stars {
  padding: 0;
  font-size: 1.2rem;
}
.card .text-container div .rating-stars li {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}
.card .text-container div .rating-stars li.checked {
  color: #e3170a;
  -webkit-text-stroke: 1px #e3170a;
}
.card .text-container div .players {
  margin: 2px 0 0;
  font-size: 1.2rem;
}
.card .text-container .description {
  margin: 0;
  padding: 8px 0 10px;
  font-size: 1.5rem;
}
.card .text-container .book-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card .text-container .book-container a {
  box-sizing: border-box;
  width: 180px;
  height: 44px;
  padding: 1rem 0;
  border-radius: 4px;
  font-size: 1.3rem;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
}
.card .text-container .book-container a:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.story-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  background: #011827;
}
.story-section p {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 0 40px 0;
  font-size: 2.3rem;
  text-align: center;
  color: #ffffff;
}
.story-section a {
  max-width: 100%;
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: #8acfe6;
  border: 2px solid #8acfe6;
}
.story-section a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.highlights-section .hl1-container,
.highlights-section .hl2-container {
  display: flex;
  height: 460px;
}
.highlights-section .hl1-container img,
.highlights-section .hl2-container img {
  flex-shrink: 0;
  width: 50%;
  object-fit: cover;
}
.highlights-section .hl1-container .hl-text-container,
.highlights-section .hl2-container .hl-text-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.highlights-section .hl1-container .hl-text-container div,
.highlights-section .hl2-container .hl-text-container div {
  grid-column: 2/6;
  align-self: center;
}
.highlights-section .hl1-container .hl-text-container div h2,
.highlights-section .hl2-container .hl-text-container div h2 {
  margin: 0 auto;
  font-size: 2.7rem;
}
.highlights-section .hl1-container .hl-text-container div p,
.highlights-section .hl2-container .hl-text-container div p {
  font-size: 2rem;
}
.highlights-section .hl1-container .hl-text-container div a,
.highlights-section .hl2-container .hl-text-container div a {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
}
.highlights-section .hl1-container .hl-text-container div a:hover,
.highlights-section .hl2-container .hl-text-container div a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.highlights-section .hl2-container {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .highlights-section .hl1-container,
.highlights-section .hl2-container {
    flex-direction: column;
    height: 100%;
  }
  .highlights-section .hl1-container img,
.highlights-section .hl2-container img {
    width: 100%;
    height: 300px;
  }
  .highlights-section .hl1-container .hl-text-container,
.highlights-section .hl2-container .hl-text-container {
    height: 100%;
    width: 100%;
  }
  .highlights-section .hl1-container .hl-text-container div,
.highlights-section .hl2-container .hl-text-container div {
    grid-column: 1/-1;
    max-width: 100%;
    margin: 0 20px;
  }
  .highlights-section .hl1-container .hl-text-container div h2,
.highlights-section .hl2-container .hl-text-container div h2 {
    margin: 30px 0 0 0;
  }
  .highlights-section .hl1-container .hl-text-container div p,
.highlights-section .hl2-container .hl-text-container div p {
    margin: 30px auto 25px auto;
  }
  .highlights-section .hl1-container .hl-text-container div a,
.highlights-section .hl2-container .hl-text-container div a {
    margin: 60px 0;
  }
}
@media screen and (max-width: 345px) {
  .highlights-section .hl1-container .hl-text-container div,
.highlights-section .hl2-container .hl-text-container div {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 150px 0;
  margin: 182px 0 0 0;
  font-size: 1.5rem;
  background: #011827;
  color: #ffffff;
}
footer h1 {
  margin: 7px 0;
  font-size: 1.5rem;
}
footer .about-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
footer .about-container p {
  max-width: 420px;
  margin: 0;
  font-weight: normal;
}
footer .footer-links-container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
footer .footer-links-container .sitemap-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
footer .footer-links-container .sitemap-container :nth-child(4) {
  margin: 0 0 1.5rem 0;
}
footer .footer-links-container .socials-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #8acfe5;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 37px;
    padding: 64px 0;
    margin: 40px 0 0 0;
  }
  footer h1 {
    margin: 0 0 7px 0;
    font-size: 1.5rem;
  }
  footer .about-container {
    display: flex;
    flex-direction: column;
    margin: 0 21px;
  }
  footer .about-container p {
    max-width: 440px;
    margin: 0;
  }
  footer .footer-links-container {
    display: flex;
    flex-direction: column;
    gap: 47px;
  }
  footer .footer-links-container .sitemap-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  footer .footer-links-container .socials-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
}
.challenges-section {
  margin: 30px;
}
.challenges-section ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
