html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 26px 27px 22px 27px;
  background: #011827;
  color: #ffffff;
}
header .logo {
  display: flex;
  padding: 0 0 50px 0;
}
header .logo img {
  width: 128px;
  height: 82px;
}
header .logo h1 {
  align-self: flex-end;
  margin: 0;
  padding: 0 0 0 24px;
  font-size: 3.3rem;
}
header .mobMenuIcon {
  display: none;
}
header .modal {
  display: block;
}
header .modal .menuBox {
  display: block;
}
header .modal .menuBox .mobMenuClose {
  display: none;
}
header .modal .menuBox .menu ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 90px;
  list-style-type: none;
  font-size: 2rem;
  font-weight: bold;
}
header .modal .menuBox .menu ul li a {
  color: #ffffff;
}
header .modal .menuBox .menu ul li :hover {
  color: #8acfe5;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 26px 27px 36px 27px;
  }
  header .logo {
    display: flex;
    padding: 0;
  }
  header .logo img {
    width: 128px;
    height: 82px;
  }
  header .logo h1 {
    width: 80px;
    padding: 0 0 0 13px;
    line-height: 2.4rem;
    font-size: 2.2rem;
  }
  header .mobMenuIcon {
    display: block;
    position: absolute;
    right: 20px;
    top: 26px;
  }
  header .mobMenuIcon i {
    font-size: 4rem;
  }
  header .modal {
    display: none;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
  header .modal .menuBox {
    display: block;
    margin: 3vh auto;
    position: relative;
    width: 90%;
    height: 93vh;
    background: #011827;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    animation-name: mobileMenuAni;
    animation-duration: 0.2s;
  }
  header .modal .menuBox .mobMenuClose {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  header .modal .menuBox .mobMenuClose i {
    font-size: 4rem;
    color: #ffffff;
    opacity: 0;
    animation-name: mobileMenuAni;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  header .modal .menuBox .menu ul {
    display: none;
  }
  header .modal .menuBox .mobMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 25vh 0;
    list-style-type: none;
    font-size: 3rem;
    font-weight: bold;
  }
  header .modal .menuBox .mobMenu ul li {
    margin: 0 0 50px 0;
  }
  header .modal .menuBox .mobMenu ul li a {
    color: #ffffff;
  }
}
@keyframes mobileMenuAni {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  header .modal {
    display: block;
  }
}
.hero {
  width: 100%;
  height: 468px;
  object-fit: cover;
}

.heroLinks {
  display: flex;
  justify-content: center;
  transform: translateY(-55%);
}
.heroLinks a {
  margin: 0 9px;
}
.heroLinks a:nth-child(1) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
}
.heroLinks a:nth-child(1):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.heroLinks a:nth-child(2) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #8acfe5;
  color: #000000;
}
.heroLinks a:nth-child(2):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 274px;
  }

  .heroLinks {
    flex-direction: column-reverse;
    align-items: center;
    transform: translateY(20%);
  }
  .heroLinks a:nth-child(1) {
    font-size: 1.3rem;
    text-decoration: underline;
    background: #ffffff;
    color: #36769d;
  }
  .heroLinks a:nth-child(2) {
    background: #8acfe5;
    color: #000000;
  }
}
.quotes {
  display: flex;
  justify-content: center;
  margin: 70px 20px 0 0;
}
.quotes img {
  width: 97px;
  height: 97px;
  object-fit: cover;
  margin: 0 0 0 20px;
  border-radius: 100%;
}
.quotes .qText {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  margin: 0 0 0 15px;
}
.quotes blockquote {
  max-width: 407px;
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}
.quotes blockquote p {
  margin: 0 0 10px;
}
.quotes cite {
  max-width: 285px;
  font-size: 1.5rem;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .quotes {
    margin: 70px 20px 0 20px;
  }
  .quotes img {
    margin: 0;
  }
  .quotes :nth-child(3), .quotes :nth-child(4) {
    display: none;
  }
  .quotes blockquote, .quotes cite {
    max-width: 342px;
  }
}
.popChall {
  margin: 0;
}
.popChall .heading {
  margin: 100px 0 60px 0;
  font-size: 3rem;
  text-align: center;
}
.popChall ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
  padding: 20px 53px;
  list-style-type: none;
}
.popChall ul .popCard {
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  width: 363px;
  height: 446px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
}
.popChall ul .popCard .img-container {
  height: 50%;
}
.popChall ul .popCard .img-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.popChall ul .popCard .text-container {
  margin: 10px;
}
.popChall ul .popCard .text-container .title {
  margin: 0;
  padding: 0;
  font-size: 2.3rem;
  font-weight: normal;
}
.popChall ul .popCard .text-container div {
  display: flex;
  justify-content: space-between;
}
.popChall ul .popCard .text-container div .stars {
  margin: 4px 8px 0 0;
  content: url("../images/Star.png");
  object-fit: contain;
}
.popChall ul .popCard .text-container div p {
  margin: 0;
}
.popChall ul .popCard .text-container div div :nth-child(5) {
  content: url("../images/StarEmpty.png");
}
.popChall ul .popCard .text-container div .players {
  margin: 4px 0 0;
  font-size: 1.2rem;
}
.popChall ul .popCard .text-container .description {
  margin: 0;
  padding: 8px 0 10px;
  font-size: 1.5rem;
}
.popChall ul .popCard .text-container .book {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.popChall ul .popCard .text-container .book a {
  box-sizing: border-box;
  width: 180px;
  height: 44px;
  padding: 1rem 0;
  border-radius: 4px;
  font-size: 1.3rem;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
}
.popChall ul .popCard .text-container .book a:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.popChall .popLinks {
  display: flex;
  justify-content: center;
}
.popChall .popLinks a:nth-child(1) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
  margin: 70px 9px;
}
.popChall .popLinks a:nth-child(1):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.popChall .popLinks a:nth-child(2) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #8acfe5;
  color: #000000;
  margin: 70px 9px;
}
.popChall .popLinks a:nth-child(2):hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .popChall .heading {
    margin: 100px 0 45px 0;
    font-size: 2.7rem;
  }
  .popChall ul {
    padding: 4vw;
  }
  .popChall ul .popCard div {
    justify-content: flex-start;
  }
  .popChall ul .popCard div .players {
    margin: 0 0 0 10px;
  }
  .popChall .popLinks {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0 20px;
  }
  .popChall .popLinks a:nth-child(1) {
    margin: 10px 0;
    font-size: 1.3rem;
    text-decoration: underline;
    background: #ffffff;
    color: #36769d;
  }
  .popChall .popLinks a:nth-child(2) {
    margin: 0px;
    background: #8acfe5;
    color: #000000;
  }
}
@media screen and (max-width: 1170px) {
  .popChall ul {
    justify-content: space-between;
  }
}
.shortStory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  background: #011827;
}
.shortStory p {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 0 40px 0;
  font-size: 2.3rem;
  text-align: center;
  color: #ffffff;
}
.shortStory a {
  max-width: 100%;
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: #8acfe6;
  border: 2px solid #8acfe6;
}
.shortStory a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.highlights .hl1,
.highlights .hl2 {
  display: flex;
  height: 460px;
}
.highlights .hl1 img,
.highlights .hl2 img {
  flex-shrink: 0;
  width: 50%;
  object-fit: cover;
}
.highlights .hl1 .hlText,
.highlights .hl2 .hlText {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.highlights .hl1 .hlText div,
.highlights .hl2 .hlText div {
  grid-column: 2/6;
  align-self: center;
}
.highlights .hl1 .hlText div h1,
.highlights .hl2 .hlText div h1 {
  margin: 0 auto;
  font-size: 2.7rem;
}
.highlights .hl1 .hlText div p,
.highlights .hl2 .hlText div p {
  font-size: 2rem;
}
.highlights .hl1 .hlText div a,
.highlights .hl2 .hlText div a {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 308px;
  height: 66px;
  padding: 19px 0px 19px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: #e3170a;
  color: #ffffff;
}
.highlights .hl1 .hlText div a:hover,
.highlights .hl2 .hlText div a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.highlights .hl2 {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .highlights .hl1,
.highlights .hl2 {
    flex-direction: column;
    height: 100%;
  }
  .highlights .hl1 img,
.highlights .hl2 img {
    width: 100%;
    height: 300px;
  }
  .highlights .hl1 .hlText,
.highlights .hl2 .hlText {
    height: 100%;
    width: 100%;
  }
  .highlights .hl1 .hlText div,
.highlights .hl2 .hlText div {
    grid-column: 1/-1;
    max-width: 100%;
    margin: 0 20px;
  }
  .highlights .hl1 .hlText div h1,
.highlights .hl2 .hlText div h1 {
    margin: 30px 0 0 0;
  }
  .highlights .hl1 .hlText div p,
.highlights .hl2 .hlText div p {
    margin: 30px auto 25px auto;
  }
  .highlights .hl1 .hlText div a,
.highlights .hl2 .hlText div a {
    margin: 60px 0;
  }
}
@media screen and (max-width: 345px) {
  .highlights .hl1 .hlText div,
.highlights .hl2 .hlText div {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 150px 0;
  margin: 182px 0 0 0;
  font-size: 1.5rem;
  background: #011827;
  color: #ffffff;
}
footer h1 {
  margin: 7px 0;
  font-size: 1.5rem;
}
footer .about {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
footer .about p {
  max-width: 420px;
  margin: 0;
  font-weight: normal;
}
footer .ftLinks {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
footer .ftLinks .sitemap {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
footer .ftLinks .sitemap :nth-child(4) {
  margin: 0 0 1.5rem 0;
}
footer .ftLinks .social {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #8acfe5;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 37px;
    padding: 64px 0;
    margin: 40px 0 0 0;
  }
  footer h1 {
    margin: 0 0 7px 0;
    font-size: 1.5rem;
  }
  footer .about {
    display: flex;
    flex-direction: column;
    margin: 0 21px;
  }
  footer .about p {
    max-width: 440px;
    margin: 0;
  }
  footer .ftLinks {
    display: flex;
    flex-direction: column;
    gap: 47px;
  }
  footer .ftLinks .sitemap {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  footer .ftLinks .social {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
