@use "mixins";

header {
  padding: 26px 27px 22px 27px;

  background: #011827;
  color: #ffffff;

  .logo-container {
    display: flex;
    padding: 0 0 50px 0;

    img {
      width: 128px;
      height: 82px;
    }

    h1 {
      align-self: flex-end;

      margin: 0;
      padding: 0 0 0 24px;

      font-size: 3.3rem;
    }
  }
  .open-container {
    display: none;
  }
  .modal {
    display: block;
    .menu-container {
      display: block;
      .close-container {
        display: none;
      }
      .menu-list-container {
        ul {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;

          padding: 0;
          margin: 0 90px;

          list-style-type: none;
          font-size: 2rem;
          font-weight: bold;

          li {
            a {
              color: #ffffff;
            }

            :hover {
              color: #8acfe5;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 26px 27px 36px 27px;

    .logo-container {
      display: flex;

      padding: 0;

      img {
        width: 128px;
        height: 82px;
      }

      h1 {
        width: 80px;

        padding: 0 0 0 13px;

        line-height: 2.4rem;
        font-size: 2.2rem;
      }
    }

    .open-container {
      display: block;
      position: absolute;
      right: 20px;
      top: 26px;

      i {
        font-size: 4rem;
      }
    }

    .modal {
      display: none;
      justify-content: center;
      box-sizing: border-box;

      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: rgba(255, 255, 255, 0.5);

      .menu-container {
        display: block;
        margin: 3vh auto;

        position: relative;
        width: 90%;
        height: 93vh;

        background: #011827;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

        animation-name: mobileMenuAni;
        animation-duration: 0.2s;

        .close-container {
          display: block;
          position: absolute;
          right: 20px;
          top: 20px;

          i {
            font-size: 4rem;
            color: #ffffff;
            opacity: 0;

            animation-name: mobileMenuAni;
            animation-duration: 0.2s;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
          }
        }

        .menu-list-container {
          ul {
            display: none;
          }
        }

        .mobile-menu {
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 25vh 0;

            list-style-type: none;
            font-size: 3rem;
            font-weight: bold;

            li {
              margin: 0 0 50px 0;

              a {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes mobileMenuAni {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  header {
    .modal {
      display: block;
    }
  }
}
