@mixin button($bg, $text) {
  box-sizing: border-box;
  width: 308px;
  height: 66px;

  padding: 19px 0px 19px;
  border-radius: 4px;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  background: $bg;
  color: $text;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
  }
}
