@use "mixins";

.popular-challenges {
  margin: 0;

  .heading {
    margin: 100px 0 60px 0;

    font-size: 3rem;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 30px;

    overflow-x: auto;

    padding: 20px 53px;

    list-style-type: none;
  }

  .popular-links {
    display: flex;
    justify-content: center;
    
    a:nth-child(1) {
      @include mixins.button(#e3170a, #ffffff);
      margin: 70px 9px;
    }

    a:nth-child(2) {
      @include mixins.button(#8acfe5, #000000);
      margin: 70px 9px;
    }

  }
}

@media screen and (max-width: 768px) {
  .popular-challenges {
    .heading {
      margin: 100px 0 45px 0;

      font-size: 2.7rem;
    }

    ul {
      padding: 4vw;

      .card {
        div {
          justify-content: flex-start;

          .players {
            margin: 0 0 0 10px;
          }
        }
      }
    }

    .popular-links {
      flex-direction: column-reverse;
      align-items: center;

      padding: 10px 0 20px;

      a:nth-child(1) {
        margin: 10px 0;

        font-size: 1.3rem;
        text-decoration: underline;

        background: #ffffff;
        color: #36769d;
      }

      a:nth-child(2) {
        margin: 0px;

        background: #8acfe5;
        color: #000000;
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  .popular-challenges {
    ul {
      justify-content: space-between;
    }
  }
}
