@use "mixins";

.quotes-section {
  display: flex;
  justify-content: center;

  margin: 70px 20px 0 0;

  img {
    width: 97px;
    height: 97px;
    object-fit: cover;

    margin: 0 0 0 20px;
    border-radius: 100%;
  }

  .qoutes-text-container {
    display: flex;
    flex-direction: column;

    max-width: 408px;
    margin: 0 0 0 15px;
  }

  blockquote {
    max-width: 407px;

    margin: 0;

    font-size: 2rem;
    font-style: italic;

    p {
      margin: 0 0 10px;
    }
  }
  cite {
    max-width: 285px;

    font-size: 1.5rem;
    font-style: normal;
  }
}

@media screen and (max-width: 768px) {
  .quotes-section {
    margin: 70px 20px 0 20px;

    img {
      margin: 0;
    }

    :nth-child(3), :nth-child(4) {
      display: none;
    }

    blockquote, cite {
      max-width: 342px;
    }
  }
}
